### rewrite configuration
Options -Indexes
Options +FollowSymlinks
RewriteEngine on
RewriteBase /ncm/
ErrorDocument 404 /ncm/not-found
DirectoryIndex ui/pages/index.php

### if it's not a file or directory
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-l

# Main website
RewriteRule ^not-found$ ui/pages/404.php [L,NC,QSA]

# Example Home
RewriteRule ^dos_butons?$ ui/pages/index_second_example.php [L,NC,QSA]

RewriteRule ^metodo?$ ui/pages/metodo.php?page=metodo [L,NC,QSA]
RewriteRule ^nosotros?$ ui/pages/nosotros.php?page=nosotros [L,NC,QSA]
RewriteRule ^soluciones?$ ui/pages/soluciones.php?page=soluciones [L,NC,QSA]

# Duraluxe
RewriteRule ^duraluxe?$ ui/pages/duraluxe/index.php?page=duraluxe [L,NC,QSA]
RewriteRule ^duraluxe/mision?$ ui/pages/duraluxe/mision.php?page=duraluxe&subpage=mision [L,NC,QSA]
RewriteRule ^duraluxe/acabados?$ ui/pages/duraluxe/acabados.php?page=duraluxe&subpage=acabados [L,NC,QSA]
RewriteRule ^duraluxe/historia?$ ui/pages/duraluxe/historia.php?page=duraluxe&subpage=historia [L,NC,QSA]
RewriteRule ^duraluxe/mercados?$ ui/pages/duraluxe/mercados.php?page=duraluxe&subpage=mercados [L,NC,QSA]
RewriteRule ^duraluxe/porque?$ ui/pages/duraluxe/porque.php?page=duraluxe&subpage=porque [L,NC,QSA]

# Duraluxe - Soporte
RewriteRule ^duraluxe/soporte?$ ui/pages/duraluxe/soporte/manual_de_uso.php?page=duraluxe&subpage=soporte [L,NC,QSA]
RewriteRule ^duraluxe/soporte/faqs?$ ui/pages/duraluxe/soporte/faqs.php?page=duraluxe&subpage=soporte [L,NC,QSA]
RewriteRule ^duraluxe/soporte/videos?$ ui/pages/duraluxe/soporte/videos.php?page=duraluxe&subpage=soporte [L,NC,QSA]
RewriteRule ^duraluxe/soporte/catalogo?$ ui/pages/duraluxe/soporte/catalogo.php?page=duraluxe&subpage=soporte [L,NC,QSA]

RewriteRule ^duraluxe/contacto?$ ui/pages/duraluxe/contacto.php?page=duraluxe&subpage=contacto [L,NC,QSA]

# Duraluxe - Videos Youtube
RewriteRule ^duraluxe/satinado?$ ui/pages/duraluxe/acabados/satinado.php?page=duraluxe&subpage=acabados [L,NC,QSA]
RewriteRule ^duraluxe/mate?$ ui/pages/duraluxe/acabados/mate.php?page=duraluxe&subpage=acabados [L,NC,QSA]
RewriteRule ^duraluxe/brillante?$ ui/pages/duraluxe/acabados/brillante.php?page=duralux&subpage=acabadose [L,NC,QSA]
RewriteRule ^duraluxe/saltlake?$ ui/pages/duraluxe/acabados/saltlake.php?page=duraluxe&subpage=acabados [L,NC,QSA]
RewriteRule ^duraluxe/icetouch?$ ui/pages/duraluxe/acabados/icetouch.php?page=duraluxe&subpage=acabados [L,NC,QSA]
RewriteRule ^duraluxe/glow?$ ui/pages/duraluxe/acabados/glow.php?page=duraluxe&subpage=acabados [L,NC,QSA]
RewriteRule ^duraluxe/canvas?$ ui/pages/duraluxe/acabados/canvas.php?page=duraluxe&subpage=acabados [L,NC,QSA]
RewriteRule ^duraluxe/wallsky?$ ui/pages/duraluxe/acabados/wallsky.php?page=duraluxe&subpage=acabados [L,NC,QSA]
RewriteRule ^duraluxe/cepillado?$ ui/pages/duraluxe/acabados/cepillado.php?page=duraluxe&subpage=acabados [L,NC,QSA]

Redirect 301 /ncm/mercados /ncm/duraluxe/mercados