### rewrite configuration
Options -Indexes
Options +FollowSymlinks
RewriteEngine on
RewriteBase /ncm/
ErrorDocument 404 ui/pages/404.php
DirectoryIndex ui/pages/index.php

### if it's not a file or directory
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-l

# Main website
RewriteRule ^test?$ ui/pages/test.php [L,NC,QSA]

RewriteRule ^metodo?$ ui/pages/metodo.php [L,NC,QSA]
RewriteRule ^nosotros?$ ui/pages/nosotros.php [L,NC,QSA]
RewriteRule ^soluciones?$ ui/pages/soluciones.php [L,NC,QSA]

# Duraluxe
RewriteRule ^duraluxe?$ ui/pages//duraluxe/index.php [L,NC,QSA]
RewriteRule ^duraluxe/mission?$ ui/pages/duraluxe/mission.php [L,NC,QSA]
RewriteRule ^duraluxe/acabados?$ ui/pages/duraluxe/acabados.php [L,NC,QSA]
RewriteRule ^duraluxe/historia?$ ui/pages/duraluxe/historia.php [L,NC,QSA]
RewriteRule ^duraluxe/mercados?$ ui/pages/duraluxe/mercados.php [L,NC,QSA]
RewriteRule ^duraluxe/porque?$ ui/pages/duraluxe/porque.php [L,NC,QSA]
RewriteRule ^duraluxe/soporte?$ ui/pages/duraluxe/soporte.php [L,NC,QSA]
RewriteRule ^duraluxe/contacto?$ ui/pages/duraluxe/contacto.php [L,NC,QSA]

# Duraluxe - Videos Youtube
RewriteRule ^duraluxe/satinado?$ ui/pages/duraluxe/acabados/satinado.php [L,NC,QSA]
RewriteRule ^duraluxe/mate?$ ui/pages/duraluxe/acabados/mate.php [L,NC,QSA]
RewriteRule ^duraluxe/brillante?$ ui/pages/duraluxe/acabados/brillante.php [L,NC,QSA]
RewriteRule ^duraluxe/saltlake?$ ui/pages/duraluxe/acabados/saltlake.php [L,NC,QSA]
RewriteRule ^duraluxe/icetouch?$ ui/pages/duraluxe/acabados/icetouch.php [L,NC,QSA]
RewriteRule ^duraluxe/glow?$ ui/pages/duraluxe/acabados/glow.php [L,NC,QSA]
RewriteRule ^duraluxe/canvas?$ ui/pages/duraluxe/acabados/canvas.php [L,NC,QSA]
RewriteRule ^duraluxe/wallsky?$ ui/pages/duraluxe/acabados/wallsky.php [L,NC,QSA]
RewriteRule ^duraluxe/cepillado?$ ui/pages/duraluxe/acabados/cepillado.php [L,NC,QSA]