body {
    position: relative;
}

/*************/
/* NEWSLETTER */
/*************/

body.newsletter {
    margin: 0;
    height: 100%;
    overflow: hidden;
}

div.newsletter-popup {
    position: absolute;
    background: rgb(0 0 0 / 75%);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 9999;
    overflow: hidden;
    display: none;
}

div.modalContent__image {
    float: left;
    width: 50%;
}

div.modalContent__content {
    padding: 20px;
    width: 50%;
    float: right;
    background-color: white;
}

@media screen and (max-width: 860px) {
    div.modalContent__content {
        width: 65%;
    }
}

@media screen and (max-width: 810px) {
    div.modalContent__content {
        width: 70%;
    }
}

@media screen and (max-width: 760px) {
    div.modalContent__content {
        width: 100%;
    }
}

div.modalContent {
    background-image: url('../images/1.2.2-580x550-p-500.jpeg');
    max-width: 90%;
    position: relative;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
    width: 50%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

@media screen and (max-width: 860px) {
    width: 80%;
}

div.content__emailStep div.field-wrapper {
    margin-top: 20px;
}

div.descriptionContainer div.subtitle {
    margin-top: 20px;
}

div.descriptionContainer div.subtitle h4 {
    font-weight: inherit;
    font-size: 1.25em;
    line-height: 1.4;
    margin-bottom: 12px;
}

div.modalContent__content label {
    color: #404040;
    font-weight: bold;
    display: block;
    padding-bottom: 6px;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin-top: 20px;
}

div.modalContent__content input[type="text"],
div.modalContent__content input[type="email"] {
    background-color: #ffffff;
    border: 2px solid #c9c9c9;
    border-radius: 3px;
    display: inline-block;
    min-height: 36px;
    min-width: 50px;
    padding: 0 0.4em;
    vertical-align: middle;
    width: 100%;
}

div.modalContent__content .content__button {
    margin-bottom: 20px;
}

div.modalContent__content div.disclaimer {
    font-size: 12px;
    text-align: center;
}

span.close-newsletter-popup {
    cursor: pointer;
}

div.modalContent__content .content__button input {
    border: 0 none;
    border-radius: 3px;
    cursor: pointer;
    display: inline-block;
    font-weight: 700;
    height: 36px;
    letter-spacing: 0.01em;
    line-height: 36px;
    margin-right: 0;
    overflow: hidden;
    padding: 0 18px;
    text-align: center;
    vertical-align: middle;
    white-space: normal;
    background-color: rgb(17, 17, 17);
    font-size: 1em;
    color: rgb(238, 238, 238);
    width: 100%;
    margin-top: 20px;
}

div.newsletter-popup div.clear {
    clear: both;
}

/**** END NEWSLETTER ****/

div.header-section div.bg-black {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.5;
    top: 0;
    left: 0;
    z-index: 0;
}

div.header-section div.content-block{
    position: relative;
    z-index: 2;
}

/*************/
/* DURALUXE - MAIN SCREEN */
/*************/

div.duralex-home-gallery .splide {
    margin-bottom: 0;
}
div.duralex-message.wf-section {
    padding: 20px 70px 20px 70px;
    color: #fcfcfc;
    background-color: #e0004de3;
}
div.duralex-features {
    position: static;
    display: grid;
    height: auto;
    width: 100%;
    min-height: auto;
    grid-template-rows: 1fr;
    grid-template-columns: 100%;
}

div.duralex-features div.features{
    position: relative;
    margin: 20px 0px 20px 0px;
    justify-self: start;
    align-self: start;
    left: 50%;
    transform: translateX(-50%);
}

div.duralex-features ul {
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
}

div.duralex-features ul li {
    margin-right: 20px;
}

div.duralex-message.wf-section p {
    color: #fcfcfc;
    max-width: initial;
}

div.homepage-markets div.col-md-6{
    padding: calc(var(--bs-gutter-x) * .5);
}

div.homepage-markets div.image {
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
}

div.homepage-markets div.image div.bg-black {
    position: absolute;
    top: 0px;
    width: 100%;
    height: 100%;
    opacity: 0.4;
}

div.homepage-markets div.image.fotografia {
    background-image: url('../images/duraluxe/homepage/fotografia.webp');
}

div.homepage-markets div.image.senaletica{
    background-image: url('../images/duraluxe/homepage/senaletica.webp');
}
div.homepage-markets div.image.interiorismo{
    background-image: url('../images/duraluxe/homepage/interiorismo.webp');
}
div.homepage-markets div.image.arquitectura_fachadas{
    background-image: url('../images/duraluxe/homepage/arquitectura_fachadas.webp');
}
div.homepage-markets div.image.productos_flexibles{
    background-image: url('../images/duraluxe/homepage/productos_flexibles.webp');
}
div.homepage-markets div.image.protectores_contra_salpicaduras{
    background-image: url('../images/duraluxe/homepage/protectores_contra_salpicaduras.webp');
}
div.homepage-markets div.image.paredes_de_ducha{
    background-image: url('../images/duraluxe/homepage/paredes_de_ducha.webp');
}

div.homepage-markets div.image.techos {
    background-image: url('../images/duraluxe/homepage/techos.webp');
}

div.homepage-markets div.image div.text {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 32px;
    color: white;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 2px;
    text-shadow: 2px 0 #000, -2px 0 #000, 0 2px #000, 0 -2px #000, 1px 1px #000, -1px -1px #000, 1px -1px #000, -1px 1px #000;
}


/*************/
/* DURALUXE - FAQS */
/*************/

div.duraluxe-faqs-header,
div.duraluxe-guidelines-header,
div.duraluxe-catalogue-header,
div.duraluxe-contact-header,
div.why
{
    background-color: #eff2f3 !important;
    padding-top: 25vh;
    padding-left: 44px;
    padding-right: 44px;
    background-image: url('../images/duraluxe/faqs/duraluxe_faqs.png');
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 50px;
    color: #e0004d !important;
    position: relative;
}

div.duraluxe-faqs-header h1,
div.duraluxe-guidelines-header h1,
div.duraluxe-catalogue-header h1,
div.duraluxe-contact-header h1,
div.why h1,
div.duraluxe-why-header h1 {
    color: #fff !important;
}

div.duraluxe-contact-header {
    background-image: url('../images/Fabricacion---3.jpg');
}

div.duraluxe-why-header {
    background-image: url('../images/Fabricacion---5.jpg');
}

div.cover-background {
    background-size: cover;
    background-position: center;
    color: #FFFFFF;
    position: relative;
}

div.cover-background h1 {
    color: #FFFFFF !important;
}

div.duraluxe-history-header {
    background-image: url('../images/duraluxe/historia/background.png');
}

div.duraluxe-mission-header {
    background-image: url('../images/duraluxe/mission/background.png');
}

div.duraluxe-faqs-section div.faq div.faq-question {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    min-height: 100px;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    overflow-y: hidden;
    outline: 0;
    margin-bottom: 10px;
    background-color: rgba(0, 0, 0, 0.05) !important;
}

div.duraluxe-faqs-section div.faq div.faq-question div.faq-number {
    width: 130px!important;
    text-align: center;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    cursor: pointer;
    -webkit-align-self: stretch;
    align-self: stretch;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    color: #e0004d;
    font: 50px / 1.2em Barlow, sans-serif;
    background-color: rgba(0, 0, 0, 0.1) !important;
    font-weight: bold;
}

div.duraluxe-faqs-section div.faq div.faq-question div.faq-text {
    width: calc(100% - 130px);
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    cursor: pointer;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    overflow-y: hidden;
    box-sizing: border-box;
    padding: 36px;
    color: #e0004d;
    font: 25px / 1.2em Barlow, sans-serif;
    font-weight: bold;
}

div.duraluxe-faqs-section div.faq div.faq-response {
    padding: 20px 40px 30px;
    background-color: transparent;
    color: #00303c !important;
    font: bold 16px / 1.4em Barlow, sans-serif;
    display: none;
}

div.duraluxe-faqs-section div.faq div.faq-question:hover div.faq-number {
    background-color: #e0004d !important;
    color: white;
}

/*************/
/* DURALUXE - MANUAL DE USO */
/*************/

div.duraluxe-guidelines-section {
    position: relative;
    left: 60px;
    grid-area: 1 / 1 / 2 / 2;
    justify-self: start;
    align-self: start;
    margin: 16px 0 50px calc((100% - 980px) * 0.5);
}

div.duraluxe-guidelines-section iframe {
    width: 860px;
    height: 758px;
}

/*************/
/* DURALUXE - CATALOGO */
/*************/

div.duraluxe-catalogue-section {
    text-align: center;
}

div.duraluxe-catalogue-section iframe {
    width: 985px;
    height: 497px;
    position: relative;
    margin: 0 auto;
}

div.duraluxe-catalogue-section div.catalogue-link {
    display: block;
    margin-top: 40px;
    margin-bottom: 80px;
}

div.duraluxe-catalogue-section div.catalogue-link .button-2 {
    border: 0 !important;
    display: inline-block !important;
}

div.duraluxe-catalogue-section div.catalogue-link .button-2:hover {
    border: 3px solid #e0004d !important;
}

@media screen and (max-width: 991px) {
    div.duraluxe-catalogue-section iframe {
        width: 100%;
        padding-left: 20px;
        padding-right: 20px;
        position: initial;
        margin: 0 auto 20px;
    }
}

div.duraluxe-contact .w-form-fail,
div.duraluxe-contact .w-form-done {
    display: block;
    margin-top: 20px;
}

div.duraluxe-contact form#wf-form-Contact-Form div.wants-sample label {
    min-height: 60px;
    background-color: rgba(0, 0, 0, 0);
    margin-bottom: 0;
    padding-top: 17px;
    padding-bottom: 17px;
    padding-left: 10px;
    font-size: 16px;
    font-weight: 200;
    display: inline;
}

/*************/
/* DURALUXE - PORQUE */
/*************/
div.duralex-why,
div.duralex-history,
div.duralex-mission,
div.duralex-finishes,
div.duralex-markets {
    padding: 70px 53px 0;
}

div.duralex-why .mt-2rem {
    margin-top: 2rem;
}
div.duralex-why h2 a,
div.duralex-why h2.coloured {
    color: #e0004d !important;
    text-decoration: underline;
}

div.duralex-why h2 a:hover {
    text-decoration: underline;
}

div.duralex-why h2 a i {
    color: #00303c;
    font-size: 12px;
    vertical-align: top;
    margin-top: 2px;
    margin-left: -2px;
}

div.duralex-why p,
div.duralex-history p,
div.duralex-mission p,
div.duralex-finishes p,
div.duralex-markets p {
    max-width: initial;
}

/*************/
/* DURALUXE - ACABADOS */
/*************/

div.duraluxe-finishes-header {
    position: relative;
    background-image: url('../images/duraluxe/acabados/background.png');
}

div.duralex-finishes div.row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

div.duralex-finishes div.row div.finish {
    height: 250px;
    text-align: center;
    margin-right: 20px;
    margin-bottom: 20px;
    position: relative;
    cursor: pointer;
    overflow: hidden;
    padding: 0 !important;
}

@media screen and (max-width: 991px) {
    div.duralex-finishes div.row div.finish {
        width: 100% !important;
        flex: 100%;
    }
}

div.duralex-finishes div.row div.finish div.title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #e0004d;
    font-size: 24px;
    z-index: 2;
}

@media (min-width: 1200px) {
    div.duralex-finishes div.row div.finish div.title {
        font-size: calc(1.275rem + .3vw);
    }
}

div.duralex-finishes div.row div.finish div.black-cover {
    background-color: #000;
    width: 100%;
    height: 100%;
    z-index: 1;
    position: absolute;
    opacity: 0.40;
}

div.duralex-finishes div.row div.finish div.cover {
    background-size: cover;
    background-position: center;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
    height: 100%;
}

div.duralex-finishes div.row div.finish:hover div.cover {
    transform: scale(1.2);
}

.satinado { background-image: url('../images/duraluxe/acabados/satinado.png'); }
.mate { background-image: url('../images/duraluxe/acabados/mate.png'); }
.brillante { background-image: url('../images/duraluxe/acabados/brillante.png'); }
.salt-lake { background-image: url('../images/duraluxe/acabados/salt-lake.png'); }
.ice-touch { background-image: url('../images/duraluxe/acabados/ice-touch.png'); }
.glow { background-image: url('../images/duraluxe/acabados/glow.png'); }
.canvas { background-image: url('../images/duraluxe/acabados/canvas.png'); }
.wallsky { background-image: url('../images/duraluxe/acabados/wallsky.png'); }
.cepillado { background-image: url('../images/duraluxe/acabados/satinado.png'); }

/*************/
/* DURALUXE - MERCADOS */
/*************/

div.duraluxe-markets-header {
    position: relative;
    background-image: url('../images/duraluxe/acabados/background.png');
}

div.duralex-markets div.gallery {
    margin-top: 50px;
}

div.duralex-markets div.gallery h2 {
    color: #e0004d;
    margin-bottom: 20px;
}

.splide {
    width: 100%;
    margin: 0 auto 30px;
}

@media screen and (max-width: 991px) {
    .splide {
        width: 100%;
    }


}

@media screen and (min-width: 768px) and (max-width: 991px) {
    div.duralex-markets div.gallery div.title {
        min-height: 70px;
    }
}

.splide__slide img {
    width: 100%;
    height: auto;
}

/*************/
/* DURALUXE - MENU */
/*************/

div.duraluxe-menu-button {
    display: none;
}

a.nav-link.w-nav-link.w--nav-link-open {
    margin-left: 20px;
}

a.nav-link.w-nav-link.w--current.w--nav-link-open {
    color: #FFF;
}

div.duraluxe-menu a,
div.duraluxe-menu-button a {
    color: #FFF !important;
}

div.duraluxe-menu,
div.duraluxe-menu-button
{
    background-color: #00303c;
    color: #FFF !important;;
    padding: 20px 0;
    position: relative;
}

div.duraluxe-menu-button {
    text-align: right;
    padding: 18px;
    font-size: 24px;
    cursor: pointer;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

div.duraluxe-menu nav {
    grid-column-gap: 50px;
    grid-row-gap: 50px;
    justify-content: flex-end;
    align-items: center;
    display: flex;
}

div.duraluxe-menu nav .nav-link.w--current {
    font-weight: bold;
}


div.duraluxe-menu nav .dropdown span.nav-link{
   cursor: pointer;
}

div.duraluxe-menu nav .dropdown span i {
    margin-left: 5px;
}

div.duraluxe-menu nav div.sub-menu {
    position: absolute;
    bottom: -116px;
    width: 200px;
    background-color: #00303c;
    text-align: left;
    display: none;
    z-index: 999;
}

div.duraluxe-menu nav div.sub-menu ul {
    list-style-type: none;
    padding: 0;
    margin-top: 1rem;
}

div.duraluxe-menu nav div.sub-menu ul li {
    margin-bottom: 1rem;
}

div.duraluxe-menu nav div.sub-menu ul li a {
    text-align: center;
    margin-left: 20px;
    display: block;
}

@media screen and (max-width: 991px){

    div.duraluxe-menu-button {
        display: block;
    }

    div.duraluxe-menu {
        display: none;
    }

    div.duraluxe-menu nav {
        display: block;
    }
    div.duraluxe-menu nav .nav-link {
        margin-bottom: 10px;
    }

    div.duraluxe-menu nav div.sub-menu {
        position: initial;
    }

    div.duraluxe-menu nav div.sub-menu ul li a {
        text-align: left;
        margin-left: 20px;
    }
}

/* ALTERNATIVE HOME */

div.alternative-home {
    padding-bottom: 0;
    padding-top: 0;
}

div.alternative-home div.image-background-homepage {
    background-image: url(https://thehiddenpanda.com/development/ncm/ui/assets/images/Fabricacion---3-p-1080.jpeg);
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 0;
    background-size: cover;
}

div.alternative-home div.bg-black {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    z-index: 1;
    opacity: 0.5;
}

div.alternative-home div.container {
    position: relative;
    z-index: 1;
    color: #FFFFFF;
    text-align: center;
    padding-top: 54px;
    padding-bottom: 82px;
}

div.alternative-home div.container h1 {
    color: #FFFFFF !important;
}

div.alternative-home div.container p {
    margin-top: 20px;
    max-width: initial;
    color: #FFFFFF;
}

div.alternative-home div.container .button-2:hover {
    background-color: #e0004d !important;
    border: 3px solid #212529 !important;
    color: #FFFFFF !important;
}

div.alternative-home div.container .button-2.white {
    background-color: #FFFFFF !important;
    border: 3px solid #FFFFFF !important;;
    color: #212529 !important;;
}

div.alternative-home div.container .button-2.white:hover {
    border: 3px solid #212529 !important;;
}

@media screen and (max-width: 420px) {
    .hide_br {
        display: none;
    }
}

/* NCM Projects 2.0 */
div.woocommerce-header-buttons .account-links.et-header-menu {
    margin-bottom: 0;
    display: inline;
    vertical-align: middle;
}

.account-links.et-header-menu a {
    color: #222222;
    text-decoration: none;
}

.account-links.et-header-menu a:hover {
    font-weight: bold;
}

div.woocommerce-header-buttons .quick_cart {
    display: inline;
    color: #222222;
    text-decoration: none;
    margin-left: 15px;
    vertical-align: middle;
}

a {
    color: #222222 !important;
    text-decoration: none !important;
}

.w-button {
    color: white !important
}

.hero-header-container .row {
    justify-content: center;
    text-align: center;
}

.hero-header-container .row h1 {
    margin-bottom: 60px;
}

.page-padding {
    padding-top: 30px;
}

.header-spacer {
    height: 90px;
}

@media only screen and (min-width: 992px) {
    .header-spacer {
        height: 50px;
    }
}

/* # Forms
------------------------------------------------------- */

form {
    margin: 0;
}
form fieldset {
    padding: 0;
    margin: 0;
    border: 0;
}
input[type="text"],
input[type="password"],
input[type="number"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="time"],
input[type="month"],
input[type="week"],
input[type="email"],
input[type="search"],
input[type="tel"],
input[type="url"],
input.input-text,
select,
textarea,
.nf-form-cont .nf-form-content .listselect-wrap .nf-field-element div,
.nf-form-cont .nf-form-content input.ninja-forms-field,
.nf-form-cont .nf-form-content select.ninja-forms-field:not([multiple]),
.nf-form-cont .nf-form-content textarea,
.ppom-wrapper .ppom-field-wrapper .form-control {
    font-family: inherit;
    font-size: 1em;
    line-height: 1.6;
    outline: 0;
    padding: .75rem;
    height: calc(2.15em + .975rem + 4px);
    color: #282828;
    background-color: #fff;
    background-clip: padding-box;
    border: 2px solid #ddd;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    -webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none;
    -webkit-appearance: none;
}
.el-style-border-width-1 input[type="text"],
.el-style-border-width-1 input[type="password"],
.el-style-border-width-1 input[type="number"],
.el-style-border-width-1 input[type="date"],
.el-style-border-width-1 input[type="datetime"],
.el-style-border-width-1 input[type="datetime-local"],
.el-style-border-width-1 input[type="time"],
.el-style-border-width-1 input[type="month"],
.el-style-border-width-1 input[type="week"],
.el-style-border-width-1 input[type="email"],
.el-style-border-width-1 input[type="search"],
.el-style-border-width-1 input[type="tel"],
.el-style-border-width-1 input[type="url"],
.el-style-border-width-1 input.input-text,
.el-style-border-width-1 select,
.el-style-border-width-1 textarea,
.el-style-border-width-1 .nf-form-content .listselect-wrap .nf-field-element div,
.el-style-border-width-1 .nf-form-content input.ninja-forms-field,
.el-style-border-width-1 .nf-form-content select.ninja-forms-field:not([multiple]),
.el-style-border-width-1 .nf-form-content .nf-form-content textarea,
.el-style-border-width-1 .ppom-wrapper .ppom-field-wrapper .form-control {
    border-width: 1px;
    height: calc(2.15em + .975rem + 2px);
}
.el-style-border-bottom input[type="text"],
.el-style-border-bottom input[type="password"],
.el-style-border-bottom input[type="number"],
.el-style-border-bottom input[type="date"],
.el-style-border-bottom input[type="datetime"],
.el-style-border-bottom input[type="datetime-local"],
.el-style-border-bottom input[type="time"],
.el-style-border-bottom input[type="month"],
.el-style-border-bottom input[type="week"],
.el-style-border-bottom input[type="email"],
.el-style-border-bottom input[type="search"],
.el-style-border-bottom input[type="tel"],
.el-style-border-bottom input[type="url"],
.el-style-border-bottom input.input-text,
.el-style-border-bottom select,
.el-style-border-bottom textarea,
.el-style-border-bottom .nf-form-content .listselect-wrap .nf-field-element div,
.el-style-border-bottom .nf-form-content input.ninja-forms-field,
.el-style-border-bottom .nf-form-content select.ninja-forms-field:not([multiple]),
.el-style-border-bottom .nf-form-content textarea,
.el-style-border-bottom .ppom-wrapper .ppom-field-wrapper .form-control  {
    border-top-width: 0 !important;
    border-right-width: 0 !important;
    border-left-width: 0 !important;
    border-radius: 0;
    padding-left: 0;
    padding-right: 0;
    background-color: transparent;
}
input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
}
input:-webkit-autofill {
    -webkit-box-shadow: none;
}
input[type="text"]:focus,
input[type="password"]:focus,
input[type="number"]:focus,
input[type="date"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="time"]:focus,
input[type="month"]:focus,
input[type="week"]:focus,
input[type="email"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="url"]:focus,
input.input-text:focus,
select:focus,
textarea:focus {
    outline: 0;
    border-color: currentColor;
    box-shadow: none;
}
select {
    -moz-appearance: none;
    -webkit-appearance: none;
    background-color: #fff;
    background-image: url('../img/svg/chevron-down.svg');
    background-position: calc(100% - 12px) 48%;
    background-repeat: no-repeat;
    background-size: 14px 14px;
    position: relative;
    padding-right: 26px;
}
select:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 #181818;
}
option:not(:checked) {
    color: #484848;
}

/* Forms: Chrome - Input autofill background color */
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px white inset;
}
textarea {
    min-height: 108px;
    padding: 7px 14px;
}

input[type=checkbox],
input[type=radio] {
    clear: none;
    cursor: pointer;
    margin: -.25rem .25rem 0 0;
    outline: 0;
    padding: 0!important;
    text-align: center;
    vertical-align: middle;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-font-smoothing: inherit;
    transition: .05s border-color ease-in-out;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-width: 16px;
    width: 16px;
    height: 16px;
    background: inherit;
    border: 2px solid #aaa;
    margin-right: 8px;
    position: relative;
}
label:hover input[type=checkbox],
label:hover input[type=radio] {
    border-color: #000;
}
input[type=checkbox]:checked {
    background: #282828;
    border-color: #282828 !important;
}
input[type=checkbox]:checked:before,
input[type=radio]:checked:before {
    float: left;
    display: inline-block;
    vertical-align: middle;
    width: 1rem;
    speak: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
input[type=checkbox]:checked:before {
    content: '';
    display: block;
    height: 9px;
    width: 5px;
    border: 1px solid #fff;
    border-width: 0 1px 1px 0;
    transform: rotate(45deg);
    position: absolute;
    top: 0px;
    left: 4px;
}
input[type=radio] {
    border-radius: 50%;
}
input[type=radio]:checked:before {
    content: '';
    border-radius: 50%;
    width: 8px;
    height: 8px;
    background-color: #282828;
}
input[type=checkbox]:disabled,
input[type=radio]:disabled,
input[type=checkbox]:disabled:hover,
input[type=radio]:disabled:hover {
    background: #ddd;
    border-color: #ccc;
    cursor: not-allowed;
}

/* Contact Form 7 */
.wpcf7 input[type="text"],
.wpcf7 input[type="password"],
.wpcf7 input[type="number"],
.wpcf7 input[type="date"],
.wpcf7 input[type="datetime"],
.wpcf7 input[type="datetime-local"],
.wpcf7 input[type="time"],
.wpcf7 input[type="month"],
.wpcf7 input[type="week"],
.wpcf7 input[type="email"],
.wpcf7 input[type="search"],
.wpcf7 input[type="tel"],
.wpcf7 input[type="url"],
.wpcf7 input.input-text,
.wpcf7 select,
.wpcf7 textarea,
.wpcf7 label {
    width: 100%;
}
.wpcf7-list-item.first {
    margin-left: 0;
}

/* Buttons */
.wp-block-button__link {
    border-radius: 5px;
    margin-bottom: 20px;
}
.wp-block-button__link,
.nf-form-cont .nf-form-content .submit-wrap .ninja-forms-field,
.btn-ghost,
.button,
input[type=submit],
button[type=submit] {
    display: inline-block;
    line-height: 1.6;
    font-size: inherit;
    color: #fff;
    padding: .75rem 1.75rem;
    border: 2px solid transparent;
    text-align: center;
    opacity: 1;
    background: #282828;
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
.wp-block-button:not(.is-style-outline) a.wp-block-button__link:not([href]) {
    color: #fff;
}
.button.btn-sm {
    padding: .575rem 1.25rem;
    font-size: .875em;
}
.wp-block-button__link:hover,
.nf-form-cont .nf-form-content .submit-wrap .ninja-forms-field:hover,
.nf-form-cont .nf-form-content .submit-wrap .ninja-forms-field:focus,
.button:hover,
.button:active,
.button:focus,
input[type=submit]:hover,
input[type=submit]:active,
input[type=submit]:focus,
button[type=submit]:hover,
button[type=submit]:active,
button[type=submit]:focus {
    color: #fff;
    opacity: 0.82;
}
button:active,
button:focus,
.button:active,
.button:focus,
.nf-form-cont .nf-form-content .submit-wrap .ninja-forms-field:focus,
.nf-form-cont .nf-form-content .submit-wrap .ninja-forms-field:active,
input[type=submit]:active,
input[type=submit]:focus {
    outline: none;
}
.touch .button:hover,
.touch .button:active,
.touch .button:focus,
.touch input[type=submit]:hover,
.touch input[type=submit]:active,
.touch input[type=submit]:focus,
.touch button[type=submit]:hover,
.touch button[type=submit]:active,
.touch button[type=submit]:focus {
    opacity: 1;
}
.nf-form-cont .nf-form-content .submit-wrap .ninja-forms-field.disabled,
.nf-form-cont .nf-form-content .submit-wrap .ninja-forms-field[disabled],
.button[disabled],
.button.disabled,
.button.loading {
    cursor: default;
    opacity: 0.72;
    background: #828282;
}
/* Button: Light */
.button.light {
    background: #bababa;
}
/* Button: Outlined */
.wp-block-button.is-style-outline .wp-block-button__link,
.button.outlined {
    border: 2px solid currentColor;
}
.el-style-border-width-1 .button,
.el-style-border-width-1 .wp-block-button.is-style-outline .wp-block-button__link,
.el-style-border-width-1 .button.outlined {
    border-width: 1px;
}
.button.outlined,
.button.outlined:hover,
.button.outlined:focus,
.button.outlined:active {
    color: #282828;
    opacity: 1;
    background: none;
}
/* Style Default: Rounded */
.wp-block-button.rounded .wp-block-button__link,
.wp-block-button .wp-block-button__link {
    border-radius: 5px;
}
.button.rounded {
    border-radius: 28px;
}
/* Style: Square */
.wp-block-button.is-style-squared,
.wp-block-button__link.wp-block-button.is-style-squared,
.wp-block-button.is-style-squared a,
.wp-block-button__link.wp-block-button.is-style-squared a {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

/* Block search */
.wp-block-search,
.wp-block-search .wp-block-search__input {
    position: relative;
    max-width: 360px;
}
.wp-block-search .wp-block-search__input,
.widget_search .search-button-group {
    border: 2px solid #ddd;
}
button.wp-block-search__button {
    background: transparent;
    border: 0;
    font-size: 0;
    position: absolute;
    right: 5px;
    bottom: 0;
    line-height: 1.6;
    padding: .75rem;
}
button.wp-block-search__button:before {
    content: '\e91e';
    font-family: "et-icon";
    font-size: 20px;
    color: initial;
}

.form-row.woocommerce-invalid-required-field .select2-container .select2-choice {
    border-color: #e76049;
}

/* Forms layout */

.form-row input[type=file] {
    padding: 0;
    border: 0;
    height: auto;
}
.form-row,
.form-group,
.form-actions,
.form-row:last-child,
.form-group:last-child,
.form-actions:last-child {
    margin-bottom: 20px;
}
.el-style-border-bottom .form-row,
.el-style-border-bottom .form-group,
.el-style-border-bottom .form-actions,
.el-style-border-bottom .form-row:last-child,
.el-style-border-bottom .form-group:last-child,
.el-style-border-bottom .form-actions:last-child {
    margin-bottom: 30px;
}
.form-row-wide {
    clear: both;
}
.form-row-first,
.form-row-last {
    width: 48%;
}
.form-row-first {
    float: left;
}
.form-row-last {
    float: right;
}
.woocommerce-form__label,
.form-row label {
    display: inline-block;
    line-height: 1.4;
    margin-bottom: 0;
}
.form-row label.checkbox {
    padding-bottom: 0;
}
.woocommerce-form__label-for-checkbox {
    cursor: pointer;
    display: block;
    padding: 10px;
    line-height: 1.6;
}
.form-row label .required {
    text-decoration: none;
    border-bottom: 0 none;
    opacity: 1;
}
.form-row .input-text,
.form-row select {
    display: block;
    width: 100%;
}
.form-row textarea {
    resize: vertical;
}
@media only screen and (max-width: 767px) {
    .comment-form p.form-row-first,
    .comment-form p.form-row-last,
    .form-row-first,
    .form-row-last {
        width: 100%;
        float: none;
    }
}
.form-row.validate-required.has-error .input-text,
.form-row.validate-required.has-error select,
.form-row.woocommerce-invalid .input-text,
.form-row.woocommerce-invalid select,
.form-row.woocommerce-invalid input[type=checkbox],
.form-row.woocommerce-invalid input[type=radio] {
    border-color: #f27362;
}
.form-row.woocommerce-invalid input[type=checkbox] + .woocommerce-terms-and-conditions-checkbox-text,
.floating-labels .form-row.woocommerce-invalid.float-label input:focus ~ label {
    color: #f27362;
}

/* Ninja Forms */
.nf-form-cont .nf-form-content {
    padding: 0;
}
.nf-form-cont .nf-form-content label {
    font-size: inherit;
    font-weight: inherit;
}
.nf-form-cont .nf-error.field-wrap .nf-field-element:after {
    display: none;
}
.nf-form-cont .nf-pass.field-wrap .nf-field-element:after {
    height: 40px;
    line-height: 40px;
    font-size: 20px;
}
.field-wrap .pikaday__container,
.field-wrap .pikaday__display,
.field-wrap>div input,
.field-wrap select, .field-wrap textarea {
    width: 100%;
}
.field-wrap>div input[type=checkbox],
.field-wrap button,
.field-wrap input[type=button],
.field-wrap input[type=submit] {
    width: auto;
}
.nf-form-hp {
    position: absolute;
    visibility: hidden;
}

/* Moving labels on focus*/
.floating-labels .form-row.float-label,
.floating-labels .nf-field .field-wrap.float-label {
    position: relative;
    margin-top: 20px;
    margin-bottom: 24px;
}
.el-style-border-bottom.floating-labels .form-row.float-label,
.el-style-border-bottom.floating-labels .nf-field .field-wrap.float-label {
    margin-bottom: 36px;
}
.floating-labels .form-row.float-label > label:not(.woocommerce-form__label-for-checkbox),
.floating-labels .field-wrap.float-label > .nf-field-label {
    line-height: 1.6;
    padding: .575rem .75rem;
    padding: .75rem;
    height: calc(2.15em + .975rem + 2px);
    border: 2px solid transparent;
    border-width: 2px 0;
    position: absolute;
    top: 0;
    left: 0;
    display:inline-block;
    width: auto;
    white-space: nowrap;
    -moz-transition: all .12s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    -o-transition: all .12s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    -webkit-transition: all .12s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    transition: all .12s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    transform-origin: 0 50%;
    -ms-transform-origin: 0 50%;
    -webkit-transform-origin: 0 50%;
    overflow: hidden;
    color: #282828;
    opacity: 0;
    cursor: text;
    z-index: 99;
}
.floating-labels.el-style-border-width-1 .form-row.float-label > label:not(.woocommerce-form__label-for-checkbox),
.floating-labels.el-style-border-width-1 .field-wrap.float-label > .nf-field-label {
    border-width: 1px 0;
}

.floating-labels .nf-form-cont .field-wrap.float-label > .nf-field-label {
    padding: 0 0 0 10px;
}
.floating-labels .nf-form-cont .field-wrap.float-label > .nf-field-label label {
    font-weight: normal;
    cursor: text;
    line-height: 1.6;
    padding: 10px 10px 10px 0;
    display: block;
}
.floating-labels .wpb_column.et-light-column .field-wrap.float-label > .nf-field-label label {
    color: #282828;
}
.floating-labels .form-row > label:not(.woocommerce-form__label-for-checkbox) {
    display: none;
}
.floating-labels .wc-pao-addon-container .form-row > label,
.floating-labels .woocommerce-checkout-payment .form-row > label {
    display: inline-block;
    opacity: 1;
}
.floating-labels .field-wrap.float-label > .nf-field-label,
.floating-labels .form-row.float-label > label:not(.woocommerce-form__label-for-checkbox) {
    display: inline-block;
    opacity: 0.6;
    margin: 0;
}
.floating-labels .form-row.float-label > label.screen-reader-text {
    clip: auto;
    clip-path: none;
    height: auto;
    margin: 0;
}
.floating-labels .form-row.float-label input::placeholder {
    opacity: 0;
}
.floating-labels .form-row.float-label input::-ms-input-placeholder  {
    opacity: 0;
}
.floating-labels .form-row.float-label textarea::placeholder {
    opacity: 0;
}
.floating-labels .form-row.float-label textarea::-ms-input-placeholder {
    opacity: 0;
}
.floating-labels .field-wrap.float-label.field-focused > .nf-field-label label,
.floating-labels .field-wrap.float-label.has-val > .nf-field-label label {
    padding: 0;
}
.floating-labels .field-wrap.float-label.field-focused > .nf-field-label,
.floating-labels .field-wrap.float-label.has-val > .nf-field-label,
.floating-labels .form-row.float-label.has-val > label,
.floating-labels .form-row.float-label input:focus ~ label,
.floating-labels .form-row.float-label textarea:focus ~ label {
    opacity: 1;
    border-width: 0;
    padding: 0 5px;
    top: -10px;
    left: 10px;
    height: 20px;
    font-size: 0.95em;
    vertical-align: middle;
    display: flex;
    align-items: center;
    cursor: default;
    color: currentColor;
}
.el-style-border-bottom.floating-labels .field-wrap.float-label.field-focused > .nf-field-label,
.el-style-border-bottom.floating-labels .field-wrap.float-label.has-val > .nf-field-label,
.el-style-border-bottom.floating-labels .form-row.float-label.has-val > label,
.el-style-border-bottom.floating-labels .form-row.float-label input:focus ~ label,
.el-style-border-bottom.floating-labels .form-row.float-label textarea:focus ~ label {
    top: -18px;
}
.floating-labels .form-row.float-label input:focus ~ label,
.floating-labels .form-row.float-label textarea:focus ~ label {
    color: #282828;
}
.floating-labels.el-style-border-bottom .form-row:not(.create-account) > label:not(.woocommerce-form__label-for-checkbox),
.floating-labels.el-style-border-bottom .form-row.float-label > label:not(.woocommerce-form__label-for-checkbox),
.floating-labels.el-style-border-bottom .field-wrap > .nf-field-label,
.floating-labels.el-style-border-bottom .field-wrap.float-label.has-val > .nf-field-label {
    padding-left: 0;
    padding-right: 0;
}
.floating-labels.el-style-border-bottom .field-wrap.float-label.field-focused > .nf-field-label,
.floating-labels.el-style-border-bottom .field-wrap.float-label.has-val > .nf-field-label,
.floating-labels.el-style-border-bottom .form-row.float-label.has-val > label,
.floating-labels.el-style-border-bottom .form-row.float-label input:focus ~ label,
.floating-labels.el-style-border-bottom .form-row.float-label textarea:focus ~ label {
    left: 0;
    padding: 0;
}
.floating-labels:not(.el-style-border-bottom) .field-wrap.float-label.field-focused > .nf-field-label:after,
.floating-labels:not(.el-style-border-bottom) .field-wrap.float-label.has-val > .nf-field-label:after,
.floating-labels:not(.el-style-border-bottom) .form-row.float-label.has-val > label:after,
.floating-labels:not(.el-style-border-bottom) .form-row.float-label input:focus ~ label:after,
.floating-labels:not(.el-style-border-bottom) .form-row.float-label textarea:focus ~ label:after {
    content: '';
    background: #fff;
    height: 2px;
    width: 100%;
    position: absolute;
    top: 10px;
    left: 0;
    z-index: -1;
}
.floating-labels.el-style-border-width-1 .field-wrap.float-label.field-focused > .nf-field-label:after,
.floating-labels.el-style-border-width-1 .field-wrap.float-label.has-val > .nf-field-label:after,
.floating-labels.el-style-border-width-1 .form-row.float-label.has-val > label:after,
.floating-labels.el-style-border-width-1 .form-row.float-label input:focus ~ label:after,
.floating-labels.el-style-border-width-1 .form-row.float-label textarea:focus ~ label:after {
    top: 9px;
}

/* Autofill separated otherwise doesn't work with Firefox */
.floating-labels .form-row.float-label input:-webkit-autofill ~ label {
    opacity: 1;
    border-width: 0;
    padding: 0 5px;
    top: -10px;
    left: 10px;
    height: 20px;
    font-size: 0.95em;
    vertical-align: middle;
    display: flex;
    align-items: center;
    cursor: default;
    color: currentColor;
}
.el-style-border-bottom.floating-labels .form-row.float-label input:-webkit-autofill ~ label {
    top: -18px;
}
.floating-labels .form-row.float-label input:-webkit-autofill ~ label {
    color: #282828;
}
.floating-labels.el-style-border-bottom .form-row.float-label input:-webkit-autofill ~ label {
    left: 0;
    padding: 0;
}
.floating-labels:not(.el-style-border-bottom) .form-row.float-label input:-webkit-autofill ~ label:after {
    content: '';
    background: #fff;
    height: 2px;
    width: 100%;
    position: absolute;
    top: 10px;
    left: 0;
    z-index: -1;
}
.floating-labels.el-style-border-width-1 .form-row.float-label input:-webkit-autofill ~ label:after {
    top: 9px;
}

.floating-labels .nf-error-msg {
    font-size: 12px;
    color: #e43737;
}
.floating-labels .nf-field-label .ninja-forms-req-symbol {
    color: inherit;
}
.floating-labels .nf-form-errors .nf-error-msg {
    line-height: 1;
    padding: 5px 12px;
    background: #ffdada;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    display: inline-block;
}
.floating-labels .field-wrap.field-focused.nf-error > .nf-field-label,
.floating-labels .field-wrap.has-val.nf-error > .nf-field-label {
    color: #fa4d5a;
}
.floating-labels .nf-field .nf-error .ninja-forms-field {
    border-color: #f27362;
}
.nf-form-content .list-select-wrap .nf-field-element>div:focus,
.nf-form-content input:not([type=button]):focus,
.nf-form-content textarea:focus {
    color: #282828;
    border-color: currentColor;
}
.floating-labels.el-style-border-bottom .nf-form-content .list-select-wrap .nf-field-element>div:focus,
.floating-labels.el-style-border-bottom .nf-form-content input:not([type=button]):focus,
.floating-labels.el-style-border-bottom .nf-form-content textarea:focus {
    color: inherit;
    border-color: currentColor;
    background: transparent;
}
.floating-labels.el-style-border-width-1 .nf-field .nf-error .ninja-forms-field {
    border-width: 1px;
}
.floating-labels .wpcf7-form textarea {
    min-height: 200px;
}

/* Custom fields override */
.floating-labels .form-row.thwcfd-field-radio > label:not(.woocommerce-form__label-for-checkbox) {
    display: block;
}
/* Fix duplicated (optional) text in checkout */
#billing_address_2_field .fl-label .optional,
#shipping_address_2_field .fl-label .optional {
    display: none;
}

/* WP Forms */
div.wpforms-container .wpforms-form input[type=checkbox]:checked {
    background: #282828 !important;
    border-color: #282828 !important;
}
div.wpforms-container .wpforms-form input[type=checkbox],
div.wpforms-container .wpforms-form input[type=radio] {
    display: inline-flex;
    margin: -.25rem .25rem 0 0;
    min-width: 16px;
    width: 16px;
    height: 16px;
    margin-right: 8px;
    position: relative;
    border-width: 2px !important;
    vertical-align: middle;
}
div.wpforms-container .wpforms-form input[type=checkbox] + label,
div.wpforms-container .wpforms-form input[type=radio] + label {
    cursor: pointer;
}
div.wpforms-container .wpforms-form .wpforms-field-label {
    color: initial;
    font-weight: normal;
    margin-bottom: 0.5rem;
}
div.wpforms-container ul:not([class]),
div.wpforms-container ul li {
    padding-left: 0;
    margin-left: 0;
}

.floating-labels .form-row.float-label > label:not(.woocommerce-form__label-for-checkbox){
    display: inline-block;
    opacity: 0.6;
    margin: 0;
}

.floating-labels .form-row.float-label > label:not(.woocommerce-form__label-for-checkbox){
    line-height: 1.6;
    padding: 0.575rem 0.75rem;
    padding: 0.75rem;
    height: calc(2.15em + 0.975rem + 2px);
    border: 2px solid transparent;
    border-width: 2px 0;
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    width: auto;
    white-space: nowrap;
    -moz-transition: all .12s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    -o-transition: all .12s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    -webkit-transition: all .12s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    transition: all .12s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    transform-origin: 0 50%;
    -ms-transform-origin: 0 50%;
    -webkit-transform-origin: 0 50%;
    overflow: hidden;
    color: #282828;
    opacity: 0;
    cursor: text;
    z-index: 99;
}

.floating-labels .form-row.float-label.has-val > label {
    opacity: 1;
    border-width: 0;
    padding: 0 5px;
    top: -10px;
    left: 10px;
    height: 20px;
    font-size: 0.95em;
    vertical-align: middle;
    display: flex;
    align-items: center;
    cursor: default;
    color: currentColor;
}

.form-row .input-text, .form-row select {
    display: block;
    width: 100%;
}

input[type="text"], input[type="password"], input[type="number"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="time"], input[type="month"], input[type="week"], input[type="email"], input[type="search"], input[type="tel"], input[type="url"], input.input-text, select, textarea, .wp-block-button__link, .nf-form-cont .nf-form-content .list-select-wrap .nf-field-element > div, .nf-form-cont .nf-form-content input:not([type="button"]), .nf-form-cont .nf-form-content textarea, .nf-form-cont .nf-form-content .submit-wrap .ninja-forms-field, .button, .comment-form-rating, .woocommerce a.ywsl-social, .login a.ywsl-social, input[type=submit], .select2.select2-container--default .select2-selection--single, .woocommerce .woocommerce-MyAccount-content .shop_table .woocommerce-button, .woocommerce .sticky-product-bar .quantity, .woocommerce .et-product-detail .summary .quantity, .et-product-detail .summary .yith-wcwl-add-to-wishlist > div > a, .wishlist_table .add_to_cart.button, .yith-wcwl-add-button a.add_to_wishlist, .yith-wcwl-popup-button a.add_to_wishlist, .wishlist_table a.ask-an-estimate-button, .wishlist-title a.show-title-form, .hidden-title-form a.hide-title-form, .woocommerce .yith-wcwl-wishlist-new button, .wishlist_manage_table a.create-new-wishlist, .wishlist_manage_table button.submit-wishlist-changes, .yith-wcwl-wishlist-search-form button.wishlist-search-button, #side-filters.side-panel .et-close, .header .search-button-group {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}

p {
    max-width: 40ch;
    color: rgba(0, 48, 60, .73);
    letter-spacing: -.3px;
    margin-bottom: 30px;
    font-size: 19px;
    font-weight: 400;
    line-height: 1.4;
}

div.soluciones-home a.button-2.w-button{
    margin-top: 50px;
}