/*************/
/* DURALUXE - FAQS */
/*************/

div.duraluxe-faqs-header,
div.duraluxe-guidelines-header,
div.duraluxe-catalogue-header,
div.duraluxe-contact-header,
div.why
{
    background-color: #eff2f3;
    padding-top: 25vh;
    padding-left: 44px;
    padding-right: 44px;
    background-image: url('../images/duraluxe/faqs/duraluxe_faqs.png');
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 50px;
    color: #e0004d;
}

div.duraluxe-contact-header {
    background-image: url('../images/Fabricacion---3.jpg');
}

div.duraluxe-why-header {
    background-image: url('../images/Fabricacion---5.jpg');
}

div.cover-background {
    background-size: cover;
    background-position: center;
    color: #FFFFFF;
}
div.duraluxe-history-header {
    background-image: url('../images/duraluxe/historia/background.png');
}

div.duraluxe-mission-header {
    background-image: url('../images/duraluxe/mission/background.png');
}

div.duraluxe-faqs-section div.faq div.faq-question {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    min-height: 100px;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    overflow-y: hidden;
    outline: 0;
    margin-bottom: 10px;
    background-color: rgba(0, 0, 0, 0.05) !important;
}

div.duraluxe-faqs-section div.faq div.faq-question div.faq-number {
    width: 130px!important;
    text-align: center;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    cursor: pointer;
    -webkit-align-self: stretch;
    align-self: stretch;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    color: #e0004d;
    font: 50px / 1.2em Barlow, sans-serif;
    background-color: rgba(0, 0, 0, 0.1) !important;
    font-weight: bold;
}

div.duraluxe-faqs-section div.faq div.faq-question div.faq-text {
    width: calc(100% - 130px);
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    cursor: pointer;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    overflow-y: hidden;
    box-sizing: border-box;
    padding: 36px;
    color: #e0004d;
    font: 25px / 1.2em Barlow, sans-serif;
    font-weight: bold;
}

div.duraluxe-faqs-section div.faq div.faq-response {
    padding: 20px 40px 30px;
    background-color: transparent;
    color: #00303c !important;
    font: bold 16px / 1.4em Barlow, sans-serif;
    display: none;
}

div.duraluxe-faqs-section div.faq div.faq-question:hover div.faq-number {
    background-color: #e0004d !important;
    color: white;
}

/*************/
/* DURALUXE - MANUAL DE USO */
/*************/

div.duraluxe-guidelines-section {
    position: relative;
    left: 60px;
    grid-area: 1 / 1 / 2 / 2;
    justify-self: start;
    align-self: start;
    margin: 16px 0 50px calc((100% - 980px) * 0.5);
}

div.duraluxe-guidelines-section iframe {
    width: 860px;
    height: 758px;
}

/*************/
/* DURALUXE - CATALOGO */
/*************/

div.duraluxe-catalogue-section {
    text-align: center;
}

div.duraluxe-catalogue-section iframe {
    width: 985px;
    height: 497px;
    position: relative;
    margin: 0 auto;
}

div.duraluxe-catalogue-section div.catalogue-link {
    display: block;
    margin-top: 40px;
    margin-bottom: 80px;
}

div.duraluxe-catalogue-section div.catalogue-link .button-2 {
    display: unset;
    border: 0 !important;
}
div.duraluxe-catalogue-section div.catalogue-link .button-2:hover {
    border: 3px solid #e0004d !important;
}

@media screen and (max-width: 991px) {
    div.duraluxe-catalogue-section iframe {
        width: 100%;
        padding-left: 20px;
        padding-right: 20px;
        position: initial;
        margin: 0 auto 20px;
    }
}

div.duraluxe-contact form#wf-form-Contact-Form div.wants-sample label {
    min-height: 60px;
    background-color: rgba(0, 0, 0, 0);
    margin-bottom: 0;
    padding-top: 17px;
    padding-bottom: 17px;
    padding-left: 10px;
    font-size: 16px;
    font-weight: 200;
    display: inline;
}

/*************/
/* DURALUXE - PORQUE */
/*************/
div.duralex-why,
div.duralex-history,
div.duralex-mission,
div.duralex-finishes {
    padding: 70px 53px 0px;
}

div.duralex-why h2 a {
    color: #e0004d;
}

div.duralex-why h2 a:hover {
    text-decoration: underline;
}

div.duralex-why h2 a i {
    color: #00303c;
    font-size: 12px;
    vertical-align: top;
    margin-top: 2px;
    margin-left: -2px;
}

div.duralex-why p,
div.duralex-history p,
div.duralex-mission p,
div.duralex-finishes p {
    max-width: initial;
}

/*************/
/* DURALUXE - ACABADOS */
/*************/

div.duraluxe-finishes-header {
    position: relative;
    background-image: url('../images/duraluxe/acabados/background.png');
}

div.duraluxe-finishes-header div.bg-black {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.5;
    top: 0;
    left: 0;
    z-index: 0;
}

div.duraluxe-finishes-header div.content-block{
    position: relative;
    z-index: 2;
}

div.duralex-finishes div.row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

div.duralex-finishes div.row div.finish {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
    height: 250px;
    text-align: center;
    margin-right: 20px;
    margin-bottom: 20px;
    position: relative;
    cursor: pointer;
    overflow: hidden;
}

div.duralex-finishes div.row div.finish div.title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #e0004d;
    font-size: 24px;
    z-index: 2;
}

div.duralex-finishes div.row div.finish div.black-cover {
    background-color: #000;
    width: 100%;
    height: 100%;
    z-index: 1;
    position: absolute;
    opacity: 0.40;
}

div.duralex-finishes div.row div.finish div.cover {
    background-size: cover;
    background-position: center;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
    height: 100%;
}

div.duralex-finishes div.row div.finish:hover div.cover {
    transform: scale(1.2);
}

.satinado { background-image: url('../images/duraluxe/acabados/satinado.png'); }
.mate { background-image: url('../images/duraluxe/acabados/mate.png'); }
.brillante { background-image: url('../images/duraluxe/acabados/brillante.png'); }
.salt-lake { background-image: url('../images/duraluxe/acabados/salt-lake.png'); }
.ice-touch { background-image: url('../images/duraluxe/acabados/ice-touch.png'); }
.glow { background-image: url('../images/duraluxe/acabados/glow.png'); }
.canvas { background-image: url('../images/duraluxe/acabados/canvas.png'); }
.wallsky { background-image: url('../images/duraluxe/acabados/wallsky.png'); }
.cepillado { background-image: url('../images/duraluxe/acabados/satinado.png'); }